

<div class="row">
    <div class="col-sm-12">
        <div class="card-body">
        <div class="contenedor">
            <div class="row">
                <button (click)="iniciar()" class="btn btn-warning col-sm">
                  INICIAR
                </button>
                <button (click)="detener()" class="btn btn-warning col-sm">
                  PAUSAR
                </button>
                <button (click)="resumir()" class="btn btn-warning col-sm">
                  RESUMIR
                </button>
            </div>
            <header class="header">
                <h2>Las Tres R's
                </h2>
               
            </header>
            <div class="widget-1">
                <h3>Rafael: fresco pana muy chill y le hecha ganas </h3>
            </div>
            <div class="widget-2">
                <h3>Roy:  es el cumpleañero y esta jalando chipi </h3>
            </div>
            <div class="widget-3">
                <h3>Richy: no mas le sabe al backend</h3>
            </div>
            <footer class="footer">
                <h2>Historia:</h2>
                Somos tres amigos que casualmente la inicial de nuestros nombres inician con la letra "R", casualmente siempre hemos trabajado los 3 juntos para sus proyectos. 
            </footer>
        </div>
        </div>
    </div>
</div>