<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body" *ngIf="!logged ; else alumno">
                <p class="text-center">Para tener acceso al sistema debera iniciar sesion</p>
            </div>
            <div class="card-body" *ngIf="isAdmin()">
                <!-- solo aparezca cuando se tiene sesion iniciada -->
                <h2 class="text-center">Registrar calificaciones</h2>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>

                        <input type="text" #nombre class="form-control" name="nombre" id="nombre">
                    </div>
                    <div class="form-group">
                        <label for="materia">Materia:</label>
                        <input type="text" #materia class="form-control" name="materia" id="materia">
                    </div>
                    <div class="form-group">
                        <label for="">Calificacion:</label>
                        <input type="number" #calificacion class="form-control" name="calificacion" id="calificacion">
                    </div>
                    <br>
                    <button class="btn btn-dark btn-lg btn-right" (click)="registrar(nombre.value, materia.value, calificacion.value)"> Registrar</button>
                </form>
                <hr>
                <div class="box">
                    <table *ngIf="perfiles">
                        <tr *ngFor="let perfilElemento of perfiles, let i = index">
                            <ul>
                                <li>
                                    <input type="text" #nombreE [value]="perfilElemento.name" id="nombre">
                                    <input type="text" #materiaE [value]="perfilElemento.materia" id="nombre">
                                    <input type="text" #calificacionE [value]="perfilElemento.calificacion" id="nombre">
                                    <button (click)="modificar(nombreE.value, materiaE.value, calificacionE.value, i)">Editar</button>
                                    <button (click)="eliminar(i)">Eliminar</button>
                                  <!-- <th>{{ perfilElemento.name }} {{ perfilElemento.email }}</th> -->
                                </li>
                              </ul>
                        </tr>
                      </table>
                </div>
            </div>
            <ng-template #alumno>
                <div class="box">
                    <table *ngIf="perfiles">
                        <tr *ngFor="let perfilElemento of perfiles, let i = index">
                            <ul>
                                <li>
                                    <p>
                                        <b>Nombre:</b> {{perfilElemento.name}} <br>
                                        <b>Materia:</b> {{perfilElemento.materia}} <br>
                                        <b>Calificacion:</b> {{perfilElemento.calificacion}} <br>
                                    </p>
                                </li>
                              </ul>
                        </tr>
                      </table>
                </div>
            </ng-template>
        </div>
    </div>
</div>