<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <!-- solo aparezca cuando se tiene sesion iniciada -->
                <h2 class="text-center">Registrar un perfil(no se crea una cuenta)</h2>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>

                        <input type="text" #nombre class="form-control" name="nombre" id="nombre">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" #email class="form-control" name="email" id="email">
                    </div>
                    <br>
                    <button class="btn btn-dark btn-lg btn-right" (click)="registrar(nombre.value, email.value)"> Registrar</button>
                </form>
                <hr>
                <div class="box">
                    <table *ngIf="perfiles">
                        <tr *ngFor="let perfilElemento of perfiles">
                            <ul>
                                <li>
                                  <th>{{ perfilElemento.name }} {{ perfilElemento.email }}</th>
                                </li>
                              </ul>
                        </tr>
                      </table>

                  </div>
            </div>
        </div>
    </div>
</div>